.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #8a2b06;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 3%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.biszkoptGorny {
  width: 350px;
  height: 80px;
  background-color: #946B45;
  background-image: linear-gradient(#946B45, #946B45);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  border-radius: 100px 100px 0 0;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #333333;
  font-size: 24px;
  text-align: center;
}

.biszkoptDolny {
  width: 350px;
  height: 60px;
  background-color: #946B45;
  background-image: linear-gradient(#946B45, #946B45);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #333333;
  font-size: 24px;
  text-align: center;
}

.imageLogo {
  width: 5rem;
  height: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex: 1;
}

.configuratorBox {
  display: flex;
  justify-items: center;
  gap: 1rem;
  flex: 1;

}

.cake {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.ingredients {
  flex-basis: 40%;
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}

.summary {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  background-color: #383838;
  color: white;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
}

.galeretka{
  width: 350px;
  height: 65px;
  background:linear-gradient(#49a831a8, #49a831c7);
}
.kremczekoladowy{
  width: 350px;
  height: 50px;
  background:linear-gradient( #542a0c, #381f0ef6);
}
.biszkopttruskawkowy{
  width: 350px;
  height: 80px;
  background:linear-gradient( #b46743, #ca6a3e);
}
.biszkoptczekoladowy{
  width: 350px;
  height: 80px;
  background:linear-gradient( #8b4513, #5e3216);
}
.biszkoptwaniliowy{
  width: 350px;
  height: 80px;
  background:linear-gradient( #cfd141, #d2d44b);
}
.kremwaniliowy{
  width: 350px;
  height: 50px;
  background:linear-gradient( #fffb9d, #d4cf3d);
}
.biszkopt{
  width: 350px;
  height: 80px;
  background-position: 0 0, 10px 10px;
  background: linear-gradient( #ad5d27,#d89552);
}
.ingredient{
  box-shadow: 2px 2px 5px #888888;
  text-justify: center;
  text-align: center;
  justify-items: center;
}